.pac-container {
    z-index: 1051 !important;
}

#page-content-wrapper {
    background-color: #f2f2f2;
}
.panel {
    background-color: white;
    box-shadow: 1 1 80px black;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
}

.avatar {
    height:40px;
    border-radius: 50%;
    margin-right:40px;
}

#addressDetail {
    position: absolute;
    top: 160px;
    left: 0;
    right: 0;
    background-color: black;
    opacity:0.7;
    color: white;
    text-align: center;
    height: 40px;
    padding: 3px;
    vertical-align: middle;
    font-size: 10px;
}

#plus {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 15px;
}

.nav li a:hover {
    text-decoration: none;
    background-color: #408A82;
}

#detailImage {
    max-width: 200px;
    float: left;
    margin-right:40px;
}

.imgDetails {
    position: relative;
    max-width: 200px;
}

.details {
    max-height: 50px;
}

.container-fluid {
    min-height: 100px;
}

.row {
    padding: 15px;
    margin: 10px;
}

#loginWrapper {
    max-width: 300px;
    max-height: 300px;
    margin: auto;

}

#loginButton {
    background-color: #2b6970;
    color: #D6EDEC;
    width: 300px;
    margin-top: 5px;
}

.forgot {
    width: 300px;
    margin: auto;
}

.forgot a {
    color: white;
    text-decoration: none;
}

#signupButton {
    background-color: #2b6970;
    color: #D6EDEC;
    margin-top: 15px;
    margin-right: 30px;
}

.navbarLogin {
    background-color: #102c3f;
    color: white;
}

.navbarMain {
    background-color: #408A82   ;
}

.image {
    max-height: 200px;
    max-width: 200px;
}

.thumbnail img {
    height: 200px;
    width: 100%;
    overflow: auto;
}

.rdp-photo-card-img {
    display: block;
    width: 100%;
    height: 200px;

}
.rdp-photo-card-property {
    width: 200px;
    height: 200px;

}

.card-title {
    line-height: 20px;
    font-size: 18px;
}

.rentaldash {
    width: 500px;
    text-align: center;
    margin: 200px auto 10px auto;
    color: white;
}

.rentaldash p {
    margin: 0;
}

/*nav stuff*/
.navContainer {
    min-height: 75px;
}

#dash {
    color: #408A82;
}

#logoTop {
    margin-left: 30px;
    width: 60px;
}


.activeSide {
    border-left: solid 5px #408A82;
    background-color: #1B4556;
}

.sidebar-nav li {
    position: relative;
}

.sidebar-nav li .glyphicon-menu-right {
    position: absolute;
    right: 10px;
    top: 12px;
}

.container-fluid .row ul .activeTab a {
    background-color: #408A82;
    color: #D6EDEC;
}

/*ALL BELOW IS SIDEBAR*/

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    top: 70px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #102c3f;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}


.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/*================================================================
--------------- EVERYTHING BELOW THIS POINT IS NEW ---------------
==================================================================*/
@import 'https://fonts.googleapis.com/css?family=Roboto:400,900';

* { font-family: 'Roboto', sans-serif; }

html {
    position: relative;
    min-height: 100%;
}

body {
    position: relative;
    /* Move down content because fixed navbar that is 50px tall */
    padding-top: 50px;
    /* IMPORTANT NOTE: Set margin bottom equal to footer height set below */
    margin-bottom: 60px;
}

/* ----------- Fixed Navbar ----------- */
.navbar-fixed-top {
    background-color: #fff;
    padding-top: 2px;
    border-top: 4px solid #1d8278;
    box-shadow: 0 7px 6px -6px #777;
}

.navbar-brand { padding: 7px 0px; }
.navbar-brand>img { display: inline-block; }

.header-brand {
    font-weight: 900;
    font-size: 18px;
    color: #0F2E35;
}

.dash { color: #1D8278; }

.dashboard-btn {
    position: absolute;
    top: 3px;
    right: 130px;
    font-size: 12px;
    margin-top: 10px;
    padding: 6px 16px;
    text-decoration: none !important;
    color: #fff !important;
    background-color: #1d8278;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border: none;
    display: inline-block;
    outline: 0;
    white-space: nowrap;
    vertical-align: middle;
    overflow: hidden;
    border-radius: 3px;
}

/* ----------- Main Content ----------- */
.app-go {
    height: 200px;
    color: #fff;
    background-image: url('../img/background_pattern.png');
    background-position: left;
    background-repeat: repeat;
    margin: 0;
    padding-top: 50px;
    line-height: 1.5em;
}

.page-header {
    margin-bottom: 55px;
}

.jumbotron {
    height: 715px;
    margin-bottom: 0;
    background-image: url('../img/background_login.jpg');
    background-position: top;
    background-size: cover;
    padding-top: 60px;
}

.jumbotron .well {
    padding: 25px;
    background-color: rgba(48, 48, 48, 0.75);
    color: #fff;
    border-color: #303030;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.jumbotron .well h4 {
    margin-bottom: 20px;
}

input.transparent-input {
   background-color: rgba(255, 255, 255, 0.25) !important;
   border: rgba(229, 229, 229, 0.25) !important;
   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
   color: #fff;
   font-size: 16px;
   letter-spacing: 0.0625em;
   height: 45px;
}

.form-control:focus {
    border-color: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.g-recaptcha :first-child {
    margin: 0 auto;
}

.signup-btn {
    font-size: 16px;
    padding: 10px 20px;
    text-decoration: none !important;
    color: #fff !important;
    background-color: #1d8278;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    vertical-align: middle;
    overflow: hidden;
    border-radius: 5px;
}

.content-section {
    padding-left: 0;
    padding-right: 0;
}

.content-section>div.clearfix {
    padding-top: 20px;
    padding-right: 100px;
    padding-bottom: 20px;
    padding-left: 100px;
}

.content-section img.center-block {
    max-height: 200px;
}

.section-rentals { background-color: #fff; }
.section-maintenance {
    background-color: #1D4455;
    color: #fff;
}
.section-finance { background-color: #fff; }
.section-documents { background-color: #438B83; }


/* ----------- Footer ----------- */
.footer {
    position: absolute;
    left: 0;
    bottom: -60px;
    width: 100%;
    height: 60px;
    background-color: #fff;
}

.footer>.container {
    padding-right: 15px;
    padding-left: 15px;
}

.container .text-muted {
    color: #0f333c;
    margin-top: 20px;
    font-size: 12px;
}

.feature-divider {
  margin: 50px 0;
}

.feature-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.feature>div {
    text-align: center;
    line-height: 1.5em;
}

/* ----------- Media Queries ----------- */
@media screen and (min-width: 768px) {
    .jumbotron .h1, .jumbotron h1 {
        font-size: 32px;
    }

    .feature-heading {
      font-size: 50px;
    }
}

@media (min-width: 992px) {
    .feature-heading {
        margin-top: 120px;
    }
}

@media screen and (max-height: 575px) {
    /*WHY IS THIS NOT WORKING!!!!*/
    .g-recaptcha {
        transform:scale(0.95);
        -webkit-transform:scale(0.95);
        transform-origin:0 0;
        -webkit-transform-origin:0 0;
    }
}
