.pac-container {
    z-index: 1051 !important;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}
.container-fluid {
    min-height: 80px;
}

.row {
    padding 10px;
    margin: 10px;
}

.panel-heading {
    background-color: #468C84;
    color: #76FFCE;
}

.panel {
    border: 1px solid #468C84;
}
.image {
    max-height: 200px;
    max-width: 200px;
}

/*nav stuff*/
.navContainer {
    min-height: 75px;
}

#dash {
    color: #408A82;
}

#logoTop {
    margin-left: 30px;
    width: 60px;
}

body {
    padding-top: 50px;
}

.activeSide {
    border-left: solid 5px #408A82;
    background-color: #1B4556;
}


.sidebar-nav li {
    position: relative;
}

.sidebar-nav li .glyphicon-menu-right {
    position: absolute;
    right: 10px;
    top: 12px;
}

.container-fluid .row ul .activeTab a{
    background-color: #408A82;
    color: #D6EDEC;
}