.pac-container {
    z-index: 1051 !important;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}
.container-fluid {
    min-height: 80px;
}

.row {
    padding 10px;
    margin: 10px;
}

.panel-heading {
    background-color: #468C84;
    color: #76FFCE;
}

.panel {
    border: 1px solid #468C84;
}
.image {
    max-height: 200px;
    max-width: 200px;
}

/*nav stuff*/
.navContainer {
    min-height: 75px;
}

#dash {
    color: #408A82;
}

#logoTop {
    margin-left: 30px;
    width: 60px;
}

.user {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.one {
    background-image: url('assets/images/headshot.jpg');
}
body { padding-top: 50px; }