.nav-wrapper, .container {
    max-width: 1170px;
    margin: 0 auto;
}

nav {
    background-color: #2db34a;
}

.row {
    padding 10px;
    margin: 10px;
}

.panel-heading {
    background-color: #2db34a;
    color: white;
}

.panel {
    border: 1px solid #2db34a;
}

nav a:hover {
    text-decoration: none;
}